 <div class="banner" style="background-image: url('<%= image_path(banner_image) %>')">
  <div class="banner-content">
    <h1>
     <%= header %>
    </h1>
    <h2>
      <%= banner_text %>
    </h2>
    <a href="#" class="btn btn-primary">click me</a>
  </div>
</div>