<div class="footer">
  <ul class="list-inline">
    <li>
      <a href="#">
        <i class="fa fa-facebook fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-instagram fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-github fa-2x"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-pinterest fa-2x"></i>
      </a>
    </li>
  </ul>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, cumque.
  </p>
</div>