<div class="newsletter text-center padded">
  <h2>
    Join our newsletter
  </h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, suscipit!
  </p>
  <form action="/" class="form-inline">
    <input type="email" placeholder="Enter your email" class="form-control">
    <input type="submit" class="btn btn-primary">
  </form>
</div>

