<%= partial "banner", locals: { banner_image: "card-background.jpg", header: "Hello world1", banner_text: "whatever this is cool blabla make a long text yolo2" } %>


<h1>
  Hello this is the team page
</h1>